<div class="nested-fields article-fields">
  <%= f.input :title %>
  <%= f.input :key %>
  <%= f.input :active, as: :boolean %>
  <%= f.input :body, input_html: { class: 'markdown-editor' } %>
</div>
