<div class="nested-fields article-fields">
  <%= a.input :title %>
  <%= a.input :key %>
  <%= a.input :active, as: :boolean %>
  <%= a.input :body, input_html: { class: 'markdown-editor' } %>
</div>
