.pirate-skyblue-text {
  color: $pirate-skyblue !important;
  &:hover {
    color: $pirate-skyblue-light !important;
  }
  &:active {
    color: $pirate-skyblue-dark !important;
  }
}

.pirate-orange-text {
  color: $pirate-orange !important;
  &:hover {
    color: $pirate-orange-light !important;
  }
  &:active {
    color: $pirate-orange-dark !important;
  }
}

.pirate-red-text {
  color: $pirate-red !important;
  &:hover {
    color: $pirate-red-light !important;
  }
  &:active {
    color: $pirate-red-dark !important;
  }
}

.pirate-pink-text {
  color: $pirate-pink !important;
  &:hover {
    color: $pirate-pink-light !important;
  }
  &:active {
    color: $pirate-pink-dark !important;
  }
}

.pirate-yellow-text {
  color: $pirate-yellow !important;
  &:hover {
    color: $pirate-yellow-light !important;
  }
  &:active {
    color: $pirate-yellow-dark !important;
  }
}

.pirate-orange-bg {
  background-color: $pirate-orange;
}

.pirate-red-bg {
  background-color: $pirate-red;
}

.pirate-skyblue-bg {
  background-color: $pirate-skyblue;
}

.pirate-skyblue-bg-light-2 {
  background-color: $pirate-skyblue-light-2;
}

.pirate-pink-bg {
  background-color: $pirate-pink;
}

.pirate-yellow-bg {
  background-color: $pirate-yellow;
}
