.tabs-vertical.tabs {
  height: auto;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
}

.tabs-vertical .tab a {
  border-left: 4px solid #ffffff;
}

.tabs-vertical .tab a.active {
  transition: border-color .5s ease;
  border-left: 4px solid $pirate-pink;
  font-weight: 600;
}

.tabs-vertical .tab:first-child a {
  border-left: 4px solid $pirate-pink;
  font-size: 18px;
  font-weight: 400;
}

.tabs-vertical .tab a:hover {
  border-left: 4px solid $pirate-skyblue;
}

.tabs-vertical .tab {
  text-align: left;
  width: 100%;
}

.tabs-vertical .indicator {
  display: none;
}
.tabs-vertical .tab-content {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
